.container {
  position: absolute;
  bottom: 2%;
  left: 45%;
}

.container span {
  padding: 5px 10px;
  margin: 5px;
  border-radius: 100%;
  font-size: small;
  cursor: pointer;
}

.inactive {
  background-color: rgb(226, 226, 226);
}

.active {
  background-color: rgb(164, 164, 164);
}
