@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600&family=Roboto:wght@300;400;500&display=swap");

:root {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(206, 207, 212);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 5px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
}

h1,
h2,
h3,
h5,
h4,
p,
div {
  padding: 0;
  margin: 0;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: rgb(255, 255, 255);
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(169, 169, 169);
  border-radius: 10px;
  border: 2px solid rgb(255, 255, 255);
}

td {
  padding-bottom: 25px;
}
th {
  padding-bottom: 30px;
  text-align: left;
}

select {
  padding: 5px 8px;
  border-radius: 5px;
  background-color: rgb(237, 236, 236);
  border: none;
  border-right: 10px solid transparent;
  outline: 1px solid #d1d5db;
}
option {
  margin: 10px;
}
